
{% extends "template.html" %}

{% block title_nav %}
   {{roomDetail.name}}
{% endblock %}

{% block nav %}
	
   <div class="lginbtn">
      <a href="{{ url_for('logout') }}" style="font-size: 1.1rem;">Log out</a>

   </div>
   <div class="senselect">
      <label for="Sens">Select a Room: &nbsp;</label>
         <select name="Sens" id="Sens" style="height: 32px; font-size: 1.1rem; padding: 0 12px; cursor:pointer;"  onchange ="if (this.value)window.location.href=this.value">
            {% for item in all_rooms %}  
                {% if item.room_id != room.room_id %}
                    <option value="{{ url_for('get_metric_room', room_id=item.room_id) }}">
                        {{ item.name }}
                    </option>
                {% endif %}
                   
           {% endfor %}
                <option selected="selected"> {{ room.room_id }} </option>
               <option value="{{ url_for('hello_world') }}">All rooms</option>
         </select>	
      
     
   </div>
{% endblock %}
{% block content %}
   <div class="container">
      <!-- Content here -->
   
      <div class="container text-center">
      
        <div class="row">
            <div id="load" class="cards">
                <div class="card senid">
                    <h4><i class="fas fa-wifi"></i> Sensor ID </h4><p><span class="reading">{{room.sensor_id}}</span></p>
                  </div>
                <div class="card threshold-temp">
                    <h4><i class="fas fa-thermometer-half"></i> Theshold of Temperature </h4><p><span class="reading">{{roomDetail.theshold_tem}}</span></p>
                  </div>
                  <div class="card threshold-hum">
                    <h4><i class="fas fa-tint"></i> Theshold of Humidity </h4><p><span class="reading">{{roomDetail.theshold_hum}}</span></p>
                  </div>
                <div class="card temperature">
                    <h4><i class="fas fa-thermometer-half"></i> TEMPERATURE </h4><p><span class="reading">{{room.temperature}} &deg;C</span></p>
                  </div>
                <div class="card humidity">
                    <h4><i class="fas fa-tint"></i> HUMIDITY </h4><p><span class="reading">{{room.humidity}} &percnt;</span></p>
                  </div>
                <div class="card time">
                    <h4><i class="fas fa-clock"></i> TIME </h4><p><span class="reading">{{room.date}}</span></p>
                  </div>
                <!-- <div class="card warning">
                    <h4><i class="fas fa-exclamation-triangle"></i> WARNING </h4><p><span class="reading">{{warning}}</span></p>
                  </div> -->
            </div>
        </div> 
        <div class="row">
            <div hidden>
                {% set date = [] %}
                {% set temp = [] %}
                {% set hum = [] %}
                {% for item in metric %}  
                   {{ date.append(item[0]) }}
                   {{ temp.append(item[1]) }}
                   {{ hum.append(item[2])  }}
                {% endfor %}
    
            </div>
            
            <div class="col">
                <canvas id="myChart" width="400" >
                   
                </canvas>
           
            </div>
            <script>
                window.onload = function () {
                    var labels ='{{ date }}';  // date
                    var name = 1;
                    var config = {
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    type: 'bar',

                                    label: 'Temperature',
                                    data: '{{ temp }}',
                                    backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    ],
                                    borderColor: [
                                    'rgb(255, 99, 132)',
                                    ],
                                    borderWidth: 1
                                },
                              
                                {
                                    type: 'bar',

                                    label: 'Humidity',
                                    data: '{{ hum }}',
                                    backgroundColor: [
                                    'rgba(54, 162, 235, 0.2)',
                                    ],
                                    borderColor: [
                                    'rgb(54, 162, 235)'
                                    ],
                                    borderWidth: 2
                                },
                                
                                ]
                          
                            },
                            options: {
                                scales: {
                                  y: {
                                    beginAtZero: true
                                  }
                                }
                            }
                    };
                    
                    
                    
                    const ctx = document.getElementById('myChart').getContext('2d');
                    window.myLine = new Chart(ctx, config);
                    };
            </script>
        </div>
         
      </div>
         
      
   </div>   
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/room-metric.js') }}"></script>
   
{% endblock %}