
{% extends "template.html" %}

{% block title_nav %}
   GROUP 14 : HỆ THỐNG ĐO NHIỆT ĐỘ VÀ ĐỘ ẨM
{% endblock %}

{% block nav %}
	
   <div class="lginbtn">
      <a href="{{ url_for('logout') }}" style="font-size: 1.1rem;">Log out</a>

   </div>
   <div class="senselect">
      <label for="Sens">Select a Room: &nbsp;</label>
      <select name="Sens" id="Sens" style="height: 32px; font-size: 1.1rem; padding: 0 12px; cursor:pointer;"  onchange ="if (this.value)window.location.href=this.value">
         {% for item in all_rooms %}  
            <option value="{{ url_for('get_metric_room', room_id=item.room_id) }}">
             {{ item.name }}
            </option>
        {% endfor %}
            
            <option selected="selected" >All rooms</option>
      </select>	
      
     
   </div>
{% endblock %}
{% block content %}
   <div class="container">
      <!-- Content here -->
      <div class="container text-center">
         {% for room in all_rooms %}  
            
            <div class="col">
               <div class="row">
                  <p>
                     {{room.name}}
                   </p>
                  <div id="load" class="cards">
                      <div class="card temperature">
                          <h4><i class="fas fa-thermometer-half"></i> TEMPERATURE </h4><p><span class="reading">{{data[room.name][2]}} &deg;C</span></p>
                        </div>
                      <div class="card humidity">
                          <h4><i class="fas fa-tint"></i> HUMIDITY </h4><p><span class="reading">{{data[room.name][3]}}&percnt;</span></p>
                        </div>
                      <div class="card time">
                          <h4><i class="fas fa-clock"></i> TIME </h4><p><span class="reading">{{data[room.name][1].strftime("%H:%M:%S %d-%m-%Y")}}</span></p>
                        </div>
                      <!-- <div class="card warning">
                          <h4><i class="fas fa-exclamation-triangle"></i> WARNING </h4><p><span class="reading">{{warning}}</span></p>
                        </div> -->
                  </div>
            </div>
         {% endfor %}
         
      </div>
         
      
   </div>   
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
       
{% endblock %}